##Lambda Function

In [5]:
li1 = [1, 2, 3, 4, 5 ]
li2 = [ li1**2 for li1 in li1 if li1%2==1 ]

In [6]:
li2

[1, 9, 25]

In [7]:
def applist(func, lst):
    result = []
    for i in lst:
        result.append(func(i))
    return result

applist(lambda x: x*x, li1)

[1, 4, 9, 16, 25]

#Map function

In [9]:
list(map(lambda x: x*x, li1))

[1, 4, 9, 16, 25]

##Filter function

In [10]:
list(filter(lambda x: x%2==1, li1))

[1, 3, 5]

##apply function

In [26]:
import pandas as pd

df = pd.DataFrame({'col': ['123', 'abc', '45', 'xyz', '789']})

In [27]:
df.head()

   col
0  123
1  abc
2   45
3  xyz
4  789

In [28]:
df['col'] = df['col'].apply(lambda x: int(x) if x.isdigit() else 0  )

In [29]:
df

   col
0  123
1    0
2   45
3    0
4  789

In [22]:
df.describe()

              col
count    5.000000
mean   191.400000
std    337.825843
min      0.000000
25%      0.000000
50%     45.000000
75%    123.000000
max    789.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col     5 non-null      int64
dtypes: int64(1)
memory usage: 168.0 bytes

In [24]:
df

   col
0  123
1    0
2   45
3    0
4  789

##Reduce Functions

In [30]:
from functools import reduce

#reduce()

In [49]:
stock_prices = [100, 200, 100, 80, 500, 700 ,   400]

def max_profit(stock_prices):
    profit =0
    buy_and_sell_days_notpossible =0
    for i in range(1,len(stock_prices)):
        
        if stock_prices[i]>stock_prices[i-1]:
            # print(buy_and_sell_days_notpossible)
            # print(i)
            # print(buy_and_sell_days_notpossible!= i-1 or i ==1)
            if buy_and_sell_days_notpossible != i-1 or i ==1:
                profit= profit + ( stock_prices[i]-stock_prices[i-1])
                print("Buy")
                print(profit)
                print("Sell")
                #return profit
            else:
                print("buy_and_sell_days_notpossible")
                #return profit
            buy_and_sell_days_notpossible = i
        else:
            print("Skip")
            #return profit
    return profit

max_profit(stock_prices)

Buy
100
Sell
Skip
Skip
Buy
520
Sell
buy_and_sell_days_notpossible
Skip

520