SQL and lite

In [2]:
import sqlite3

In [4]:
connection=sqlite3.connect('shop.db')

In [5]:
connection

In [6]:
cursor=connection.cursor()

In [8]:
###create a table
cursor.execute("""create table if not exists employees_table
(
Id Integer Primary Key,
Name Text Not Null,
age Integer,
department text
)""")

In [10]:
connection.commit()

In [14]:
cursor.execute('select * from employees_table')

In [16]:
#insert into sqlite table

cursor.execute("""insert into employees_table (Name ,age ,department) values('shijin',34,'DE')""")

In [18]:
cursor.execute("""insert into employees_table (Name ,age ,department) values('amma',54,'DAE')""")
cursor.execute("""insert into employees_table (Name ,age ,department) values('Anju',31,'DED')""")
cursor.execute("""insert into employees_table (Name ,age ,department) values('shimin',39,'DGE')""")
cursor.execute("""insert into employees_table (Name ,age ,department) values('Sravan',30,'DEH')""")

In [19]:
##quering data from the table cursor.execute('select * from employees_table')

cursor.execute('select * from employees_table')
rows=cursor.fetchall()

##print the data
for row in rows:
    print(row)

(1, 'shijin', 34, 'DE')
(2, 'amma', 54, 'DAE')
(3, 'Anju', 31, 'DED')
(4, 'shimin', 39, 'DGE')
(5, 'Sravan', 30, 'DEH')